
{% extends "layout.html" %}

{% block title %}Browse{% endblock %}

{% block head %} 
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="body">
        <table cellspacing='0' class="browse">
            <tr class="center no-hover">
                <th class="center"><h1>BROWSE</h1></th>
            </tr>
            <tr class="center no-hover">
                <th class="center"><h2>Showing 30 tracks</h2></th>
            </tr>
            <tr>
                <th>Track ID</th>
                <th>Track Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
                <th id="review">Reviews</th>
                {% if 'username' in session %}
                    <th id="review">Add Review</th>
                {% endif %}
                <th>
                    <form method="POST" action="{{ hander_url }}" style="display:inline-flex;">
                        {{ goleft.csrf_token }}
                        {{ goleft.submit1 }}
                    </form>
                    <form method="POST" action="{{ hander_url }}" style="display:inline-flex;">
                        {{ goright.csrf_token }}
                        {{ goright.submit2 }}
                    </form>
                    <form method="POST" action="{{ hander_url }}" style="display:inline-flex;">
                        {{ drop_down.csrf_token }}
                        {{ drop_down.filter(onchange="submit()") }}
                    </form>
                </th>
            </tr>
            {% for i in tracks %}
                <tr>
                    <td>{{ i.track_id }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.artist.full_name }}</td>
                    <td>{{ i.album.title }}</td>
                    <td>{{ i.track_duration//60 }}:{{ "{:02d}".format(i.track_duration%60) }}</td>
                    <td id="review"><a id="clickable" href="{{ url_for('browse_bp.browse_track', variable=i.track_id) }}">{{ "{:.1f}".format(i.average_rating()) }}/5 ({{ i.get_num_of_reviews() }})</a></td>
                    </a>
                    {% if 'username' in session %}
                        <td id="review"><a id="clickable" href="{{ url_for('browse_bp.add_review', variable=i.track_id) }}" >Add Review</a></td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}