<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <!--<link rel="stylesheet" href="../static/css/styles.css" type="text/css">-->
        <title> {% block title %}{% endblock %} - MusicWiki</title>
        {% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        
        {% block content %} {% endblock %}
        
        {% include 'footer.html' %}
    </body>
</html>
